<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appunison.appcollage"
    android:versionCode="1"
    android:versionName="0.0.1-SNAPSHOT" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" >
    </supports-screens>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.screen.portrait"
        android:required="true" />

    <permission
        android:name="com.appunison.appcollage.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.appunison.appcollage.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.appunison.appcollage.AppCollageApplication"
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden"
        android:icon="@drawable/appcollage_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseThemeNoTitleBar" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_appid" />

        <activity
            android:name="com.appunison.appcollage.StartScreenActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.appunison.appcollage.views.activities.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.appunison.appcollage.views.activities.BrowsableStartupActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="appcollageapp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.appunison.appcollage.views.activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.CreateGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.InviteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.TutorialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.ManageGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.RemoveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.ContactOptionActvity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.InviteViaContactsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.InviteSentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.InviteViaAppCollageId"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.InviteEditableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.InviteAfterFetchContactsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.InviteViaEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.InviteViaSmsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.SentLinkForgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.GroupMemberActivty"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.InboxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.RemoveFormGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.GalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.InitiateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.ShowPhotosActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="t4jsample"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.appunison.appcollage.views.activities.ShowCollageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="t4jsample"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.appunison.appcollage.views.activities.InitiateAppCollageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.appunison.appcollage.views.activities.PickFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.TwitterFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.MyCameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.CropOnImageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <service android:name="com.appunison.appcollage.GCMIntentService" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.appunison.appcollage" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.appunison.appcollage.views.activities.SendImageForCollage"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.appunison.appcollage.views.activities.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.DeleteAccoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.ImageProfileCropActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.facebook.NativeAppCallContentProvider"
            android:authorities="com.facebook.app.NativeAppCallContentProvider1477950775805920"
            android:exported="true" />

        <receiver android:name="com.appunison.appcollage.HelloFacebookBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.facebook.platform.AppCallResultBroadcast" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.appunison.appcollage.views.activities.SetDefaultTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.LogoutActivty"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.appunison.appcollage.views.activities.RequestNotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.appunison.appcollage.views.activities.SendGroupCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.appunison.appcollage.views.activities.EditGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appunison.appcollage.views.activities.DeleteMessage"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.appunison.appcollage.views.activities.EmailVerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>